@import '../variables.module.scss';

.cardWrapper {
  width: 345px;
  height: 555px;
  gap: 49px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px $boxShadowColor;
  background-color: #191a20;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.productImage {
  display: flex;
  justify-content: center;
  > img {
    border-radius: 8px;
  }
}

.containerProductInformations {
  .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
  }
  .card-text {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin: 1rem 0;
  }

  .product-price {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 1rem 0;

    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
    }
  }
}
