.container-product-item {
  display: flex;
  flex-flow: column;
  row-gap: 3rem;
}
.container-product-detail-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 619px;
  border-radius: 8px;
  background: #2b2b2b;
  position: relative;
  padding: 1.4rem;

  .container-left-product-detail-item {
    > img {
      border-radius: 8px;
    }
  }

  > .container-right-product-detail-item {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 0.7rem;
    row-gap: 7px;
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      > span {
        > img {
          margin-right: 10px;
        }
        &:first-child {
          font-size: 18px;
          font-weight: 500;
          line-height: 25.2px;
        }

        &:last-child {
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
        }
      }
    }
    > p {
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
    }
  }
}

.container-total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > span {
    display: flex;
    align-items: center;
    gap: 10px;

    &:first-child {
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: -1px;
    }
    &:last-child {
      font-size: 24px;
      font-weight: 600;
      line-height: 26.4px;
      text-align: left;
    }
  }
}
