.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 30px;
  row-gap: 30px;
}

@media (max-width: 678px) {
  .loading {
    text-align: center;
    padding: 1rem;
  }
}
